@import 'colores';
@import 'navbar';
@import 'variables';

.center {
    text-align: center;
    color: $color-texto;
}
ul {
    overflow: hidden;
    list-style: none;
    display: inline-flex; 
}
nav {
    background-color: $color-fondo;
    top: 0;
    width: 100%;
    text-align: center;
    position: block;
    font-weight: bold;
    text-decoration: none;
    transition: top 0.3s;
}
footer {
    font-family: sans-serif;
    color: $color-texto;
    width: 100%;
    position: block;
    text-decoration: none;
}
body{
    background-color: $color-fondo;
}
.color {
    color: $color-texto;
    font-weight: bold;
}
.texto {
    text-align: center;
    color: $color-texto;
    margin: 15px auto;
    padding: 10px;
    width: 800px;
    height: auto;
}
.animate__fadeIn {
    animation-duration: 2s;
}
.animate__fadeInLeft {
    animation-duration: 2s;
}
.animate__fadeInRight {
    animation-duration: 2s;
}
.animate__zoomIn {
    animation-duration: 2s;
}
#Galeria .col-lg-4 {
    margin: 0 !important;
    padding: 10px; }
.galery {
    margin-top: 5px;
    border-top: 0;
    color: white; }