li a {
  float: left;
  color: white;
  display: fixed;
  padding: 15px;
  text-decoration: none; }
  li a:hover {
    background-color: darkorange;
    text-decoration: none; }
    li a:hover:active {
      color: darkorange; }

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  font-weight: bold;
  align-items: center;
  text-decoration: none; }

.galery {
  text-align: center;
  justify-content: center;
  align-items: center; }

footer {
  text-align: center;
  justify-content: center;
  align-items: center; }

#Galeria img {
  width: 100%;
  height: 100%; }
  #Galeria img:hover {
    filter: saturate(150%);
    border: 1px solid darkorange; }

.center {
  text-align: center;
  color: white; }

ul {
  overflow: hidden;
  list-style: none;
  display: inline-flex; }

nav {
  background-color: black;
  top: 0;
  width: 100%;
  text-align: center;
  position: block;
  font-weight: bold;
  text-decoration: none;
  transition: top 0.3s; }

footer {
  font-family: sans-serif;
  color: white;
  width: 100%;
  position: block;
  text-decoration: none; }

body {
  background-color: black; }

.color {
  color: white;
  font-weight: bold; }

.texto {
  text-align: center;
  color: white;
  margin: 15px auto;
  padding: 10px;
  width: 800px;
  height: auto; }

.animate__fadeIn {
  animation-duration: 2s; }

.animate__fadeInLeft {
  animation-duration: 2s; }

.animate__fadeInRight {
  animation-duration: 2s; }

.animate__zoomIn {
  animation-duration: 2s; }

#Galeria .col-lg-4 {
  margin: 0 !important;
  padding: 10px; }

.galery {
  margin-top: 5px;
  border-top: 0;
  color: white; }
